{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}



	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(static/image/contact-img.jpg); background-size: cover;">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1 class="heading-section">Contact Us</h1>

			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">

					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">ATI Staff CHS, Chunabhatti, Sion, Mumbai,<br> Maharashtra 400024</li>
							<li class="phone"><a href="tel://9310521020">+91 9310521020</a></li>
							<li class="email"><a href="mailto:helping.hand.official.info@gmail.com">helping.hand.official.info@gmail.com</a></li>
							<li class="url"><a href="https://nstimumbai.dgt.gov.in/">NSTI Mumbai</a></li>
							<li></li>
						</ul>
					</div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Get In Touch</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="firstname">First Name</label> -->
								<input name="firstname" type="text" id="firstname" class="form-control" placeholder="Your firstname">
							</div>
							<div class="col-md-6">
								<!-- <label for="lastname">Last Name</label> -->
								<input name="lastname" type="text" id="lastname" class="form-control" placeholder="Your lastname">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input name="email" type="text" id="email" class="form-control" placeholder="Your email address">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input name="subject" type="text" id="subject" class="form-control" placeholder="Your subject of this message">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>
				</div>
			</div>

		</div>
	</div>
	
	<h1 style ="text-align: center;">User Support & Services</span></h1>

	<div id="colorlib-reservation">
		<!-- <div class="container"> -->
			<div class="row">
				<div class="search-wrap" style="padding: 100px;">
					<div class="container">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#Login"><i class="flaticon-plane"></i> Login</a></li>
							<li><a data-toggle="tab" href="#PasswordReset"><i class="flaticon-resort"></i> Password Reset</a></li>
							<li><a data-toggle="tab" href="#Donations"><i class="flaticon-Donations"></i> Donations</a></li>
							<li><a data-toggle="tab" href="#BookPurchases"><i class="flaticon-boat"></i> Book Purchases</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div id="Login" class="tab-pane fade in active">
							<p>If you are experiencing difficulty logging into your account, please follow these steps:</p>
							<ul>
								<li>Ensure that you are entering the correct email address and password.</li>
								<li>If you've forgotten your password, click on the Forgot Password link on the login page to reset it. You will receive instructions via email to create a new password.</li>
							</ul>
							<div style="border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9;">
								<h4 style="color: #007bff;">Contact Center</h4>
								<p>If you need further assistance, please don't hesitate to contact our support team.</p>
								<p style="color: #007bff;">Email: <a href="mailto:helping.hand.official.info@gmail.com">helping.hand.official.info@gmail.com</a></p>
								<p style="color: #007bff;">Phone: +91 9310521020</p>
							</div>
						</div>
						<div id="PasswordReset" class="tab-pane fade">
							<p>If you are having trouble resetting your password, please make sure to:</p>
							<ul>
								<li>Check your spam or junk folder for the password reset email, as it might have been filtered there.</li>
								<li>Add our email address (<span style="color: #007bff;">helping.hand.official.info@gmail.com</span>) to your contact list to ensure you receive our emails.</li>
							</ul>
							<p>If you are still facing issues, please let us know, and we will assist you further.</p>
						</div>
						<div id="Donations" class="tab-pane fade">
							<p>We appreciate your generosity in supporting our cause. If you encounter any problems while making a donation, please:</p>
							<ul>
								<li>Verify that your payment information is entered correctly.</li>
								<li>Ensure your payment method is accepted on our platform.</li>
							</ul>
							<p>If you encounter any technical difficulties, kindly describe the issue in detail so that we can investigate and resolve it as soon as possible.</p>
						</div>
						<div id="BookPurchases" class="tab-pane fade">
							<p>If you are having issues purchasing books from our website, please:</p>
							<ul>
								<li>Make sure you are following the correct steps for the purchase process.</li>
								<li>Check if there are any error messages displayed during the purchase and provide us with those details.</li>
							</ul>
							<p>To assist you more effectively, kindly provide us with the following information in your response:</p>
							<ul>
								<li>Your full name and email address associated with your account.</li>
								<li>A detailed description of the issue you are facing.</li>
								<li>Any error messages you have received.</li>
							</ul>
							<p>Our dedicated team will review your case promptly and work to resolve your issues. Rest assured, we are committed to ensuring that your experience with Helping Hand is smooth and enjoyable.</p>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	
		<iframe class="fh5co-map" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.2327794008092!2d72.87688477474754!3d19.05350035267934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d64f276d21%3A0x61fc2f00382682f4!2sNSTI%20Mumbai!5e0!3m2!1sen!2sin!4v1694374642381!5m2!1sen!2sin"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	{% endblock body %}
