{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

<!-- Start of Async Drift Code -->
<script>
	"use strict";
	
	!function() {
	  var t = window.driftt = window.drift = window.driftt || [];
	  if (!t.init) {
		if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
		t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
		t.factory = function(e) {
		  return function() {
			var n = Array.prototype.slice.call(arguments);
			return n.unshift(e), t.push(n), t;
		  };
		}, t.methods.forEach(function(e) {
		  t[e] = t.factory(e);
		}), t.load = function(t) {
		  var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
		  o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
		  var i = document.getElementsByTagName("script")[0];
		  i.parentNode.insertBefore(o, i);
		};
	  }
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('srkbra365npr');
	</script>
	<!-- End of Async Drift Code -->
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(static/image/slide2.png); background-size: cover;">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner ">
										<h1>Population, unemployment or pollution, Education is all problem’s solution.
										</h1>
										<h2>Brought to you by <a href="" target="_blank">Helping Hands</a></h2>
										<a href="Join Us">
											<button class="learn-more button-bt">
												<span class="circle" aria-hidden="true">
													<span class="icon arrow"></span>
												</span>
												<span class="button-text"
													style="padding-left: 2px; padding-top: 5px; font-size: small;">Join
													Us</span>
											</button>

										</a>
									</div>



								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(static/image/inst2.jpg); background-size: cover;">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner ">
										<h1>Girls or boys; male or female, all have equal rights to education!</h1>
										<h2>Brought to you by <a href="" target="_blank">Helping Hands</a></h2>
										<a href="Join Us">
											<button class="learn-more button-bt">
												<span class="circle" aria-hidden="true">
													<span class="icon arrow"></span>
												</span>
												<span class="button-text"
													style="padding-left: 2px; padding-top: 5px; font-size: small;">Join
													Us</span>
											</button>

										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(static/image/slide03.jpg); background-size: cover;">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner ">
										<h1>Education is a best tool, creates difference between wise and fool.</h1>
										<h2>Brought to you by <a href="" target="_blank">Helping Hands</a></h2>
										<a href="Join Us">
											<button class="learn-more button-bt">
												<span class="circle" aria-hidden="true">
													<span class="icon arrow"></span>
												</span>
												<span class="button-text"
													style="padding-left: 2px; padding-top: 5px; font-size: small;">join
													Us</span>
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>


		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h4 style=" text-align: justify;">NGOs (Non-Governmental Organizations) play a crucial role in promoting education and
						addressing educational challenges worldwide. Education is a fundamental human right and a key driver of personal
						and societal development.
						Here are some key thoughts and considerations regarding the role of NGOs in education
					    Helping Hands flagship programme Mission Education works with the objective of empowering underprivileged
						children by providing education, nutrition, and wellness support. The programme is well aligned to the New
						Education Policy (2020), and the SDG Goal 4 (Ensure inclusive and equitable quality education and promote
						lifelong learning opportunities for all). Mission Education works with children (3-18 years) living in
						difficult circumstances, children from poor families, differently abled children,
						disaster-struck children, abandoned and street children, and children living in tribal belts,
						remote villages and hard to reach areas.</h4>
					<h4 style=" text-align: justify;">Helping Hands works as a catalyst in the cycle of change, complementing and supplementing
						government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and
						partner with like-minded institutions and individuals to implement high-impact programmes that
						enable access, enhance quality and help bring long term behavioural change at the grassroots.
					</h4>
				</div>
			</div>
		</div>

		<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(static/image/slide5.jpeg);"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 style="color: white;">FOLLOW US</h2>
					<div style="display: flex; justify-content: center;">

						<a href="https://www.facebook.com/padam.singh.984991">
						  <div style="margin-left: 20px; margin-right: 20px">
							<!-- Button 1 -->
							<!-- ... (your code for button 1) ... -->
							<button class="Btn">
							  <span class="svgContainer">
								<svg fill="white" class="svgIcon" viewBox="0 0 320 512" height="1.5em" xmlns="http://www.w3.org/2000/svg">
								  <path
									d="M300 32H20C8.954 32 0 40.954 0 52v416c0 11.046 8.954 20 20 20h152V332h-44v-64h44V180c0-43.882 35.118-80 79-80h48v64h-36c-13.255 0-24 10.745-24 24v44h60.474l-8 64H268v148h52c11.046 0 20-8.954 20-20V52c0-11.046-8.954-20-20-20z" />
								</svg>
							  </span>
							  <span class="BG-facebook"></span>
							</button>
						  </div>
						</a>


						{% comment %} s {% endcomment %}


						<a href="https://www.instagram.com/m_r_pglu/">
						  <div style="margin-left: 20px; margin-right: 20px">
							<!-- Button 3 -->
							<!-- ... (your code for button 3) ... -->
							<button class="Btn">
							  <span class="svgContainer">
								<svg fill="white" class="svgIcon" viewBox="0 0 448 512" height="1.5em" xmlns="http://www.w3.org/2000/svg">
								  <path
									d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
								  </path>
								</svg>
							  </span>
							  <span class="BG-instagram"></span>
							</button>
						  </div>
						</a>

{% comment %} 
						<a href="https://www.linkedin.com/in/padam-singh-015164257/">
						  <div style="margin-left: 20px; margin-right: 20px">
							<!-- Button 4 -->
							<!-- ... (your code for button 4) ... -->
							<button class="Btn">
							  <span class="svgContainer">
								<svg fill="#0e76a8" class="svgIcon" viewBox="0 0 448 512" height="1.5em"
								  xmlns="http://www.w3.org/2000/svg">
								  <path
									d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4c0 17.7 14.3 32.3 31.9 32.3H416c17.6 0 32-14.5 32-32.3V64.3C448 46.6 433.6 32 416 32zM135 396H69V209h66v187zm-33-207c-22 0-40-18-40-40s18-40 40-40 40 18 40 40-18 40-40 40zm267 207h-66V293c0-24-9-45-28-45s-33 21-33 45v109h-66V209h66v29c9-18 32-37 63-37 69 0 82 45 82 103v139z" />
								</svg>
							  </span>
							  <span class="BG-linkdin"></span>
							</button>
						  </div>
						</a> {% endcomment %}

{% comment %} 
						<a href="https://twitter.com/Padamsi42039687">
						  <div style="margin-left: 20px; margin-right: 20px">
							<!-- Button 5 -->
							<!-- ... (your code for button 5) ... -->
							<button class="Btn">
							  <span class="svgContainer">
								<svg fill="#1DA1F2" class="svgIcon" viewBox="0 0 512 512" height="1.5em"
								  xmlns="http://www.w3.org/2000/svg">
								  <path
									d="M437.4 152.3c.3 4.2.3 8.4.3 12.6 0 128.7-98 277-277 277-55 0-105.9-16-149.1-43.8 7.8.9 15.8 1.4 24 1.4 47 0 90.1-16 124.5-43-43.8-.9-80.7-29.6-93.4-69.3 6 .9 11.8 1.4 18.2 1.4 8.9 0 17.7-1.4 25.9-3.7-45.4-9.2-79.5-49.1-79.5-96.8v-1.3c13.3 7.4 28.6 11.8 44.8 12.3-26.5-17.7-43.8-47.6-43.8-81.7 0-18.5 4.7-35.6 13-50.4 47.5 58.3 118.2 96.8 197.8 100.9-1.6-7.8-2.3-15.8-2.3-23.8 0-57.3 46.4-103.8 103.8-103.8 29.6 0 56.5 12.3 75.3 32.2 23.4-4.7 45.4-13 65-24.7-7.8 24.7-24.7 45.4-46.1 58.8 21.2-2.3 41.2-8.9 59.6-18.5-14.1 20.5-31 38.2-50.4 52.6z" />
								</svg>
							  </span>
							  <span class="BG-twitter"></span>
							</button>
						  </div>
						</a> {% endcomment %}
					  </div>
				</div>
			</div>

		</div>
		</div>
		</div>

		<div id="fh5co-course-categories">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>OUR PROGRAMMES</h2>
						<p></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i><img src="static/image/education.webp" alt="" srcset="" style="width: 50px;"></i>
							</span>
							<div class="desc">
								<h3><a
										style="color: #f0c774; text-transform: uppercase; text-decoration: underline;">Education</a>
								</h3>
								<p>Education, nutrition and holistic development of children</p>
							</div>
						</div>
					</div>
					{% comment %} <div class="col-md-3 col-sm-6 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i><img src="static/image/women.webp" alt="" srcset="" style="width: 50px;"></i>
							</span>
							<div class="desc">
								<h3><a href="#"
										style="color: #b3d2d1; text-transform: uppercase; text-decoration: underline;">Women
										Empowerment</a></h3>
								<p>Empowering adolescent girls & women through community engagement</p>
								<p>In Future</p>
							</div>
						</div>
					</div> {% endcomment %}
					<div class="col-md-4 col-sm-6 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i><img src="static/image/healthcare.webp" alt="" srcset="" style="width: 50px;"></i>
							</span>
							<div class="desc">
								<h3><a 
										style="color: #c0adcc; text-transform: uppercase; text-decoration: underline;">Healthcare</a>
								</h3>
								<p>Taking healthcare services to doorsteps of hand to reach communities</p>
								<p>In Future</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i><img src="static/image/livelihood.webp" alt="" srcset="" style="width: 50px;"></i>
							</span>
							<div class="desc">
								<h3><a 
										style="color: #debfae; text-transform: uppercase; text-decoration: underline;">Livelihood</a>
								</h3>
								<p>Skill training and placement support for underprivileged youth</p>
								<p>In Future</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(static/image/slide5.jpeg);"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2 style="color: white;">OUR IMPACT</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-world"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">VILLAGES</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-study"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">CHILDRENS</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-bulb"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">PROJECTS</span>
							</div>
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-head"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="25" data-speed="5000"
									data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">STATES</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-course-categories">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h1>TOWARDS ACHIEVING</h1>
						<h2>SUSTAINABLE DEVELOPMENT GOALS</h2>

					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/good-health.webp" alt="" srcset="" style="width: 195px;"></i>
							</span>

						</div>
					</div>
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/gender-equality.webp" alt="" srcset=""
										style="width: 195px;"></i>
							</span>

						</div>
					</div>
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/quality-education-copy.webp" alt="" srcset=""
										style="width: 195px;"></i>
							</span>

						</div>
					</div>
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/economic-growth.webp" alt="" srcset=""
										style="width: 195px;"></i>
							</span>

						</div>
					</div>
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/reduced-copy.webp" alt="" srcset="" style="width: 195px;"></i>
							</span>

						</div>
					</div>
					<div class="col-md-2 col-sm-6 text-center animate-box">
						<div class="services">
							<span>
								<i><img src="static/image/partnership.webp" alt="" srcset="" style="width: 195px;"></i>
							</span>

						</div>
					</div>


				</div>
			</div>
		</div>


		<div id="fh5co-course">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Support A Cause</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(static/image/girl.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">TAYYARI KAL KI</a></h3>
								<p>Our campaign ‘Tayyari Kal Ki’ aims at Training & Up Skilling the youth between the
									age of 18-32 years for employment and empowering them with a secure livelihood.
								</p>
								<span><a href="Support A Cause">
										<button class="learn-more button-bt">
											<span class="circle" aria-hidden="true">
												<span class="icon arrow"></span>
											</span>
											<span class="button-text"
												style="padding-left: 8px; padding-top: 5px; font-size: small;">Learn
												More</span>
										</button>
									</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-5 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(static/image/girl2.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">HEALTH
										CANNOT WAIT</a></h3>
								<p>
									Realising the need for accessible and quality healthcare for all, our campaign
									‘Health Cannot Wait’ aims at providing people from the under-privileged sections

								</p>
								<span><a href="Support A Cause">
										<button class="learn-more button-bt">
											<span class="circle" aria-hidden="true">
												<span class="icon arrow"></span>
											</span>
											<span class="button-text"
												style="padding-left: 8px; padding-top: 5px; font-size: small;">Learn
												More</span>
										</button>
									</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(static/image/boy1.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">SHIKSHA
										NA RUKE</a></h3>
								<p>
									Helping Hands, through its ‘Shiksha Na Ruke’ initiative, has been helping
									children from difficult circumstances get back to school and restart their lives


								</p>
								<span><a href="Support A Cause">
										<button class="learn-more button-bt">
											<span class="circle" aria-hidden="true">
												<span class="icon arrow"></span>
											</span>
											<span class="button-text"
												style="padding-left: 8px; padding-top: 5px; font-size: small;">Learn
												More</span>
										</button>
									</a></span>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="course">
							<a href="#" class="course-img" style="background-image: url(static/image/girl3.jpg);">
							</a>
							<div class="desc">
								<h3><a href="#">SHE CAN
										FLY</a></h3>
								<p>SHE CAN
									FLY
									Helping Hands initiative ‘She Can Fly’ is an effort to enable, equip and
									empower girl children with quality education, proper nutrition, good health

								</p>
								<span><a href="Support A Cause">
										<button class="learn-more button-bt">
											<span class="circle" aria-hidden="true">
												<span class="icon arrow"></span>
											</span>
											<span class="button-text"
												style="padding-left: 8px; padding-top: 5px; font-size: small;">Learn
												More</span>
										</button>
									</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div id="fh5co-blog">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Events</h2>
						<p>Helping Hand NGO orchestrates impactful events, rallying volunteers for social good. From
							educational workshops and environmental cleanups to fundraisers for underprivileged
							communities, their events ignite positive change. Through collaborative efforts, Helping
							Hand's events inspire a brighter future while addressing pressing issues with compassion and
							dedication.</p>
					</div>
				</div>
				<div class="row row-padded-mb">
					<div class="col-md-4 animate-box">
						<div class="fh5co-event">
							<div class="date text-center"><span>15<br>Sept.</span></div>
							<h3><a href="#">TAYYARI KAL KI</a></h3>
							<a href="https://goo.gl/maps/CpCTcAseGr5G28p99" target="_blank" rel="noopener noreferrer"><div class="loader-location"></div></a>
							<p style="margin-top: -40px; margin-left: 50px;">SSSB Block, Nand Nagri, New Delhi, East Delhi, Delhi-110093</p>

						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-event">
							<div class="date text-center"><span>25<br>Oct.</span></div>
							<h3><a href="#">HEALTH CANNOT WAIT</a></h3>
							<a href="https://goo.gl/maps/CpCTcAseGr5G28p99" target="_blank" rel="noopener noreferrer"><div class="loader-location"></div></a>
							<p style="margin-top: -40px; margin-left: 50px;">SSSB Block, Nand Nagri, New Delhi, East Delhi, Delhi-110093</p>

						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="fh5co-event">
							<div class="date text-center"><span>05<br>Dec.</span></div>
							<h3><a href="#">SHIKSHA NA RUKE</a></h3>
							<a href="https://goo.gl/maps/CpCTcAseGr5G28p99" target="_blank" rel="noopener noreferrer"><div class="loader-location"></div></a>
							<p style="margin-top: -40px; margin-left: 50px;">SSSB Block, Nand Nagri, New Delhi, East Delhi, Delhi-110093</p>

						</div>
					</div>
				</div>

			</div>
		</div>

{% endblock body %}