{% extends 'base.html' %}

{% block title %} Our Teams {% endblock title %}

{% block body %}
	
<aside id="fh5co-hero">
	<div class="flexslider">
		<ul class="slides">
			<li style="background-image: url(static/image/team1.jpeg); background-size: cover;">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center slider-text">
							<div class="slider-text-inner ">
								<h1>Education forces a person to think positive and do right deeds.</h1>
								<h2>Brought to you by <a href="" target="_blank">Helping Hands</a></h2>
								<a href="Join Us">
									<button class="learn-more button-bt">
										<span class="circle" aria-hidden="true">
											<span class="icon arrow"></span>
										</span>
										<span class="button-text"
											style="padding-left: 2px; padding-top: 5px; font-size: small;">join
											Us</span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(static/image/team2.jpeg); background-size: cover;">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center slider-text">
							<div class="slider-text-inner ">
								<h1>Education is the best way to reform people.
								</h1>
								<h2>Brought to you by <a href="" target="_blank">Helping Hands</a></h2>
								<a href="Join Us">
									<button class="learn-more button-bt">
										<span class="circle" aria-hidden="true">
											<span class="icon arrow"></span>
										</span>
										<span class="button-text"
											style="padding-left: 2px; padding-top: 5px; font-size: small;">Join
											Us</span>
									</button>

								</a>
							</div>



						</div>
					</div>
				</div>
			</li>
			
		</ul>
	</div>
</aside>


    <div id="fh5co-staff">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="staff">
						<div class="staff-img " style="background-image: url(static/image/padam.jpeg);">
							<ul class="fh5co-social">
								<li><a href="https://www.linkedin.com/in/padam-singh-015164257/"><i class="icon-instagram"></i></a></li>
								<li><a href="https://github.com/MRPADAMSINGH"><i class="icon-github"></i></a></li>

							</ul>
						</div>
						<h3>Padam Singh</h3>
						<p>ADIT Trainee</p>
					</div>
				</div>

				<div class="col-md-3 text-center">
					<div class="staff">
						<div class="staff-img" style="background-image: url(static/image/nitin.jpeg);">
							<ul class="fh5co-social">
								<li><a href="https://www.linkedin.com/in/nitin-punia-856365257"><i class="icon-instagram"></i></a></li>
								<li><a href="https://github.com/NitinxEagle"><i class="icon-github"></i></a></li>
							</ul>
						</div>
						<h3>Nitin Punia</h3>
						<p>ADIT Trainee</p>
					</div>
				</div>

				

				<div class="col-md-3 text-center">
					<div class="staff">
						<div class="staff-img" style="background-image: url(static/image/sapn.jpg);">
							<ul class="fh5co-social">
								<li><a href="https://www.linkedin.com/in/sapna-sahu-8ba491219"><i class="icon-instagram"></i></a></li>
								<li><a href="https://github.com/sapna003"><i class="icon-github"></i></a></li>
							</ul>
						</div>
						<h3>Sapna Kumari</h3>
						<p>ADIT Trainee</p>
					</div>
				</div>

				<div class="col-md-3 text-center">
					<div class="staff">
						<div class="staff-img" style="background-image: url(static/image/diksha.jpg);">
							<ul class="fh5co-social">
								<li><a href="http://www.linkedin.com/in/deeksha-varshney-424626256"><i class="icon-instagram"></i></a></li>
								<li><a href="https://github.com/deekshavarshneysasni"><i class="icon-github"></i></a></li>
							</ul>
						</div>
						<h3>Diksha Varshney</h3>
						<p>ADIT Trainee</p>
					</div>
				</div>
				
			
				


			</div>
		</div>
	</div>
	
	
	{% endblock body %}
