{% extends 'base.html' %}

{% block title %} Partners & Collaborators {% endblock title %}

{% block body %}

	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(static/image/PartnersCollaborators1.jpeg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1 class="heading-section">Partners & Collaborators</h1>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	
	<div id="fh5co-staff">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="staff">
						<div><img src="static/image/image1.png"></div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="staff">
							<div><img src="static/image/image2.png"></div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-center">
							<div class="staff">
								<div><img src="static/image/image3.png"></div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-center">
								<div class="staff">
									<div><img src="static/image/image4.png"></div>
									
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 text-center">
									<div class="staff">
										<div><img src="static/image/image5.png"></div>
										
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 text-center">
										<div class="staff">
											<div><img src="static/image/image6.png"></div>
											
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 text-center">
											<div class="staff">
												<div><img src="static/image/image7.png"></div>
												
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 text-center">
												<div class="staff">
													<div><img src="static/image/image8.png"></div>
													
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 text-center">
													<div class="staff">
														<div><img src="static/image/image9.png"></div>
														
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 text-center">
														<div class="staff">
															<div><img src="static/image/image10.png"></div>
															
														</div>
													</div>
													<div class="row">
														<div class="col-md-3 text-center">
															<div class="staff">
																<div><img src="static/image/image11.png"></div>
																
															</div>
														</div>
														<div class="row">
															<div class="col-md-3 text-center">
																<div class="staff">
																	<div><img src="static/image/image12.png"></div>
																	
																</div>
															</div>
															
													</div>
														
												</div>
													
											</div>
												
										</div>
											
									</div>
										
								</div>
									
							</div>
								
						</div>
							
					</div>
						
				</div>
			</div>
			
		</div>
		
	</div>
	{% endblock body %}
