{% extends 'base.html' %}

{% block title %} Support A Cause{% endblock title %}

{% block body %}


	

		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(static/image/slide4.jpg);">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center slider-text">
									<div class="slider-text-inner">
										<h1 class="heading-section">Support A Cause</h1>
										<h2>Learning with Love and Laughter</h2>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div id="fh5co-blog" style="background-image: url(static/image/slide5.jpeg); background-size: cover;">
			<div class="container">

				<div class="row">
					<div class="col-lg-4 col-md-3">
						<div class="fh5co-blog animate-box">
							<div class="blog-text" style="background-color: white;">
								<img src="static/image/girl.jpg" alt="" srcset="" style="width: 280px;">
								<h3><a >TAYYARI KAL KI</a></h3>
								<span class="posted_on">Sept. 15th</span>
								<span class="comment"><a >21<i class="icon-speech-bubble"></i></a></span>
								<p>A secure livelihood helps people get out of poverty. While employability has always
									been a challenge for the under-privileged, the pandemic followed by job losses and
									massive pay-cuts further pushed them into destitution.<br>

									The effect of the pandemic on the livelihoods of people belonging to the lesser
									privileged sections has been profound and long lasting.<br><br>

									Helping Hands, recognizing the need of the hour has reprogrammed its
									employability training initiative 'STeP' to fight the challenges posed by poverty
									and unemployment. Our campaign ‘Tayyari Kal Ki’ aims at Training & Up Skilling the
									youth between the age of 18-32 years for employment and empowering them with a
									secure livelihood.</p>
									<a href="JoinUs">
										<button type="submit" class="btn btn-primary">Join Us</button>
									</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-3">
						<div class="fh5co-blog animate-box">

							<div class="blog-text" style="background-color: white;">
								<img src="static/image/girl2.jpg" alt="" srcset="" style="width: 280px;">
								<h3><a >HEALTH
										CANNOT WAIT</a></h3>
								<span class="posted_on">Oct. 25th</span>
								<span class="comment"><a >21<i class="icon-speech-bubble"></i></a></span>
								<p>
									Realising the need for accessible and quality healthcare for all, our campaign
									‘Health Cannot Wait’ aims at providing people from the under-privileged sections

									</p>
									<a href="JoinUs">
										<button type="submit" class="btn btn-primary">Join Us</button>
									</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-3">
						<div class="fh5co-blog animate-box">

							<div class="blog-text" style="background-color: white;">
								<img src="static/image/boy1.jpg" alt="" srcset="" style="width: 280px;">
								<h3><a >SHIKSHA
										NA RUKE</a></h3>
								<span class="posted_on">Dec. 05th</span>
								<span class="comment"><a >21<i class="icon-speech-bubble"></i></a></span>
								<p>
									Helping Hands, through its ‘Shiksha Na Ruke’ initiative, has been helping
									children from difficult circumstances get back to school and restart their lives
					</p><a href="JoinUs">
						<button type="submit" class="btn btn-primary">Join Us</button>
					</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-3">
						<div class="fh5co-blog animate-box">
							<div class="blog-text" style="background-color: white;">
								<img src="static/image/girl3.jpg" alt="" srcset="" style="width: 280px;">
								<h3><a >SHE CAN
										FLY</a></h3>
								<span class="posted_on">March. 15th</span>
								<span class="comment"><a >21<i class="icon-speech-bubble"></i></a></span>
								
									Helping Hands initiative ‘She Can Fly’ is an effort to enable, equip and
									empower girl children with quality education, proper nutrition, good health

									</p>
									<a href="JoinUs">
										<button type="submit" class="btn btn-primary">Join Us</button>
									</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	
{% endblock body %}
